@charset "UTF-8";
/* CSS Document */
/*reset*/
html {overflow-y: scroll; }
body, div, td { font-size: 12px; font-family: "微软雅黑", Arial, Helvetica, sans-serif; line-height: 1.4em; }
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: none; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
ul li { list-style-image: none; list-style-position: outside; list-style-type: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; vertical-align: baseline; zoom: 1; }
input, textarea, select, button { font-family: "微软雅黑"; font-size: 12px; font-weight: inherit; vertical-align: middle; }
input[type=radio], input[type=checkbox] { vertical-align: middle; }
input { outline: none; }
/*base*/
.floatleft { float: left; }
.floatright { float: right; }
.aligncenter { text-align: center; }
.alignright { text-align: right; }
.alignleft { text-align: left; }
.block { display: block; }
.forcewrap { word-wrap: break-word; word-break: break-all; text-overflow: hidden; overflow: hidden; }
.borderless { border: none; }
/*clear*/
.clear { clear: both; line-height: 0; height: 0; font-size: 0; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }
a { text-decoration: none; color: #515151; }
a:hover { color: #515151; }
.hide { display: none; }

body{ background:#023b84 url(../images/bg.jpg) 50% top no-repeat; min-height:500px; color:#fff;}
header{ height:88px; background:rgba(53,90,139,0.8); box-shadow:0px 2px 3px #042b61;}
header .top{ width:1000px; margin:0 auto;}
.top .world, .top .userCenter{ margin-top:32px;}
.top .world{ float:left; height:26px; line-height:26px; display:inline-block; font-size:24px;}
.top .world1{ padding-top:32px; height:26px; line-height:26px; display:block; font-size:24px; text-align:center;}
.top .userCenter{ float:left; display:inline-block; width:97px; height:26px; line-height:26px; background:#fff; border-radius:3px; margin-left:20px; color:#000; font-size:14px; text-align:center;}
.top .top_logo{ float:left; margin-right:50px; border:none;}

article{ width:1000px; height: auto !important; min-height:500px; margin:0 auto; line-height:36px; font-size:16px; position:relative;}
article .logo{ width:363px; height:243px; background:url(../images/logo.png) right bottom no-repeat; position:absolute; bottom:0px; right:0px;}
article .mLogo{ width:363px; height:343px; margin:0 auto;*display:block!important;display:table!important;}
article .mLogo_a { position:static; *position:absolute; display:table-cell; vertical-align:middle; *display:block; top:50%; width:100%;}
article .mLogo_b { position:relative; top:-50%; text-align:center; width:100%;}
article .mLogo_b img{ border:0px; }
article .mIcon{ width:100%; height:192px;}
article .mIcon span{ display:inline-block; width:150px; float:left;}
article .mIcon span img{ opacity:.7;}
article .mIcon span img:hover{ opacity:1;}
article .mIcon span.mRight{ margin-right:20px;}
article .mIcon span a{ display:block; width:150px; height:192px; line-height:30px; color:#fff; font-size:14px; text-align:center;}

.user_login{ width:1000px; height:auto !important; margin:0 auto; }
.user_login font{ display:block; height:20px; line-height:20px; font-size:18px; text-align:center;}
.user_login .mLogo{ width:auto; margin:0 auto; text-align:center;}
.user_login .mLogo img{ width:363px; border:0px; }
.user_login .loginBox{ width:auto; margin:0 auto; text-align:center; }
.user_login .login{ width:573px; height:237px; margin:36px auto; background:url(../images/login.png) left top no-repeat;}
.user_login .login span{ display:block; float:left; width:323px; height:30px; padding-left:117px;}
.user_login .login span.s1{ padding-top:58px;}
.user_login .login span.s2{ padding-top:28px;}
.login .forgetPwd{ width:200px; height:20px; line-height:20px; padding-top:38px; text-align: left; float:left; display:inline-block; padding-left:23px; color:#979797; text-decoration:underline;}
.login .forgetPwd:hover{ text-decoration:none;}
.login .uNmae, .login .pWord{ outline:none; border:none; padding:0 5px; width:100%; background-color:transparent; color:#464646; font-size:14px; line-height:30px;}
.login .loginGo{ width:156px; height:49px; display:inline-block; margin:30px 46px; border:none; outline:none; background-color:transparent; float:right; cursor:pointer;}
.user_login .footer{ line-height:26px; text-align:center;}
article .userList{margin-top:60px;}
article .userList th, article .userList td{ font-size:16px; padding-left:20px;}
article .userList th{ height:47px; line-height:47px; background:rgba(255,255,255,.2);; text-align:left; font-size:16px;}
article .userList td{ border-bottom:1px dashed #d9d9d9; height:50px; line-height:50px; font-family:"宋体";}
article .infoMsg{ display:block; margin-top:25px; padding-left:16px; width:168px; height:28px; line-height:28px; background:rgba(255,255,255,.2); font-family:"宋体";}
article .infoMsg em{ display:inline-block; float:left; color:#fff;}
article .infoMsg i{ float:left; margin-left:8px; background:url(../images/search.png) center no-repeat; width:22px; height:28px; display:inline-block;}
article .userForm{margin-top:60px;}
article .userForm .pTips{ padding:20px 0 0 40px; line-height:30px; font-size:16px;}
article .userForm label{ float:left; display:inline-block; padding-left:32px; width:103px; line-height:22px; font-size:16px;}
article .userForm .u_input{ width:270px; height:22px; line-height:22px; padding:0 5px; border:none; box-shadow:-1px -2px 1px #404040;}
article .userForm .u_content{ width:465px; height:68px; line-height:18px; padding:5px; resize:none; outline:none; border:none; box-shadow:-1px -2px 1px #404040;}
article .userForm .u_btn{ margin-left:135px; width:77px; height:20px; line-height:20px; background:#fff; color:#000; text-align:center; border:none; cursor:pointer;}
article .userAdd{ padding:20px 0 0 20px; font-size:16px;}
article .userAdd span{ display:block; height:34px; line-height:34px}
article .userAdd span font{ font-size:14px;}
article .userForm{ min-height:236px; background:rgba(255,255,255,.2); box-shadow:0px 2px 3px #042b61;}
article .userFormDxss{ margin-top:60px; min-height:160px; background:rgba(255,255,255,.2); box-shadow:0px 2px 3px #042b61;}
article .userFormDxss .u_link{ color:red;}
article .userFormDxss .u_link:hover{ color:yellow;}
article .userFormDxss .uploadBox{ padding:20px 40px; font-size:16px;}
article .userFormDxss .uploadBox .uploaded{ font-size:16px; margin-top:10px;}
article .userFormDxss .uploadBox .upload_btn{ padding:0 5px; font-size:16px;}
article .userFormDxss a, article .userFormDxss a:hover{ color:#fff;}
article .userFormDxss .liP{ padding:20px 30px;}
article .userFormDxss .liP .pTips{ line-height:30px; font-size:16px;}
article .userFormDxss .u_content{ width:465px; height:68px; line-height:18px; padding:5px; resize:none; outline:none; border:none; box-shadow:-1px -2px 1px #404040;}
article .userFormDxss .u_btn{ margin-left:135px; margin-bottom:20px; width:77px; height:20px; line-height:20px; background:#fff; color:#000; text-align:center; border:none; cursor:pointer;}
article .userFormDxss label{ float:left; display:inline-block; padding-left:32px; width:103px; line-height:22px; font-size:16px;}
article .userFormDxss .font-style{line-height:30px; font-size:24px; display:inline-block; text-align:center; width:100%; padding-top:65px;}
article .ptop{ padding-top:20px;}
article .ptop1{ padding-top:30px;}
article .ptop2{ padding-top:18px;}
article .pleft{ padding-left:20px;}
article .ptop2 .ptop2_ts div{ line-height:20px; font-size:16px; padding-left:60px;}
article .loginOut{  height:34px; line-height:34px; color:#fff; display:inline-block; font-size:16px; text-decoration:underline;}
article .loginOut:hover{ text-decoration:none}
article .typeBig{ width:100%; margin:0 auto; padding-top:50px;}
article .typeBig li{ width:90px; height:140px; float:left; margin-right:23px; cursor:pointer;}
article .typeBig li span{ display:block;}
article .typeBig li span img{ opacity:.7;}
article .typeBig li span img:hover{ opacity:1;}
article .typeBig li span .on{ opacity:1;}
article .typeBig li .font, article .typeBig li .font1{ line-height:22px; font-family:"宋体"; text-align:center;}
article .typeBig li .font{ padding:0 13px; }
article .typeBig li .font1{ padding:0 14px; }
article .typeSm{ width:178px; height:auto; margin:40px 0 0 280px;}
article .typeSm li{ width:100%; height:69px; margin-bottom:12px; background:rgba(255,255,255,.5); border-radius:5px;}
article .typeSm li span{ display:inline-block; float:left;}
article .typeSm li .style{ margin:5px 0 0 20px;}
article .typeSm li .style1{ margin:5px 0 0 10px;}
article .typeSm li .font, article .typeSm li .font1{ font-size:16px; line-height:69px;}
article .typeSm li .font3{ font-size:16px; line-height:22px; width:69px; padding: 10px 15px;}
article .typeSm li .font{ padding-left:15px;}
article .typeSm li .font1{ padding-left:10px;}
article .typeSm li .font2{ padding:10px; font-size:16px; line-height:22px;}
article .typeSm .aLink, article .typeSm .aLink:hover{ width:100%; height:69px; display:block; color:#fff;}

.imgPos{ position:absolute; top:260px; right:120px;}


footer{ width:1000px; margin:0 auto; position:fixed; left:0px; right:0px; bottom:30px; height:48px; line-height:48px; background:rgba(255,255,255,.2); font-size:16px; text-align:center;}